<nav class="navbar sticky-top mb-5"  data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <%= link_to "COCKTAILS", root_path, class:'text-decoration-none text-info ms-3' %>
    <div class="search-bar">
      <div class="d-flex">
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2 search-bar"
          %>
        <% end %>
        <%= submit_tag "Search", class: "btn btn-info me-3 my-2 my-sm-0" %>
      </div>
    </div>
  </div>
</nav>
