<nav class="navbar sticky-top mb-5"  data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <%= link_to "COCKTAILS", cocktails_path, class:'text-decoration-none text-info ms-3' %>
    <form class="form-inline my-2 my-lg-0">
      <div class="d-flex">
        <input class="form-control mr-sm-2 search-bar" name="query" type="search" aria-label="Search">
        <button class="btn btn-info me-3 my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </div>
</nav>
