<div class="container mt-3 pt-3">
  <div class="py-3">
    <h1 class="text-center py-3"><%= @cocktail.name.upcase %></h1>
  </div>
  <div class="mx-5 px-5">
    <h5 class="text-center ">Add a dose</h5>
    <%= render "form", cocktail: @cocktail, dose: @dose %>
    <div class="pb-5 text-center">
      <%= link_to "Back to all cocktails", cocktails_path, class:'btn btn-outline-info' %>
    </div>
  </div>
</div>
