// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1618683742424-0d7c96d49b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2564&q=80");
  background-position: top;
  background-size: cover;
  color: $yellow;
}

h1 {
  color: $white;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
  text-shadow:
      0 0 5px rgba(0, 0, 0, 0.3),
      0 0 7px $yellow,
      0 0 10px $yellow,
      0 0 21px $yellow,
      0 0 42px $yellow-green,
      0 0 82px $yellow-green,
      0 0 92px black,
      0 0 102px black,
      0 0 151px black;
}

h5 {
  font-family: 'Share Tech Mono', monospace;
  color: $yellow
}

ul {
  list-style: none;
}

li {
  color: $yellow;
}
